data/Video_Song_Actors_01-24/
data/Video_Speech_Actors_01-24/
__pycache__/
source/__pycache__/
Color_Shifted/
Masked/
Occluded/
Blurred/
Scrambled/
PLD/
Frame_Shuffle/
Optical_Flow/
Brightness_Shifted/
Sat_Shifted/
Color_Channel_Means/
Noise_Added/
Makefile
make.bat
/OpenCV_References
pyfame/processing_script.py
tests/data/outputs/.
.pytest_cache
.venv
.tox
.python-version